{% extends 'base.twig' %}

{% block conteudo %}

	<section class="Noticias _archive">
		<div class="container">
			<ul class="cats wow fadeIn">
				<li><a href="{{ site.url }}/noticias/" {% if not slug %}class="_active"{% endif %}>{% if fn('get_locale') == 'pt_BR' %}Todos{% elseif fn('get_locale') == 'es_ES' %}Todos{% else %}All{% endif %}</a></li>
				{% for item in cats %}
					<li><a href="{{ item.link }}" {% if item.slug == slug %}class="_active"{% endif %}>{{ item.name }}</a></li>
				{% endfor %}
			</ul>

			<div class="Row _gutters itens wow fadeIn">
			{% for key,item in posts %}
				{% if key <= 1 %}
				<div class="col _col-12 wow fadeIn">
					<div class="Row _gutters item">
						<div class="col _col-5">
							<a href="{{ item.link }}">
								<div class="imagem _bg" style="background-image: url({{ Image(item.get_field('imagem')) }});"><span>{% if fn('get_locale') == 'pt_BR' %}Leia mais{% elseif fn('get_locale') == 'es_ES' %}Lea mas{% else %}Read more{% endif %}</span></div>
							</a>
						</div>
						<div class="col _col-7">
							<a href="{{ item.link }}">
								<div class="infos">
									<h2 class="titulo">{{ item.title }}</h2>
									<p>{{ item.texto|excerpt(30) }}</p>
									<div class="tags">
										{% for term in item.terms %}
											<div class="tag" style="background: {{ term.cor }}">{{ term.name }}</div>
										{% endfor %}
									</div>
									<span class="Button _outline">{% if fn('get_locale') == 'pt_BR' %}Leia +{% elseif fn('get_locale') == 'es_ES' %}Lea +{% else %}Read +{% endif %}</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				{% else %}
				<div class="item col _col-4 wow fadeIn">
					<a href="{{ item.link }}">
						<div class="imagem _bg" style="background-image: url({{ Image(item.get_field('imagem')) }});"><span>{% if fn('get_locale') == 'pt_BR' %}Leia mais{% elseif fn('get_locale') == 'es_ES' %}Lea mas{% else %}Read more{% endif %}</span></div>
						<div class="infos">
							<div class="tags">
								{% for term in item.terms %}
									<div class="tag" style="background: {{ term.cor }}">{{ term.name }}</div>
								{% endfor %}
							</div>
							<h3 class="titulo">{{ item.title }}</h3>
							<p>{{ item.texto|excerpt(10) }}</p>
							<span class="Button _outline">{% if fn('get_locale') == 'pt_BR' %}Leia +{% elseif fn('get_locale') == 'es_ES' %}Lea +{% else %}Read +{% endif %}</span>
						</div>
					</a>
				</div>
				
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</section>
	
	<section class="Instagram">
		<div class="container">
			<div class="topo-home">
				<span class="link-outline">Intagram</span>
				<h2>{% if fn('get_locale') == 'pt_BR' %}Acesse{% elseif fn('get_locale') == 'es_ES' %}Ir a{% else %}Go to{% endif %} @imoveis.imoveis</h2>
			</div>
			<!-- SnapWidget -->
			<script src="https://snapwidget.com/js/snapwidget.js"></script>
			<iframe src="https://snapwidget.com/embed/983381" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
		</div>
	</section>

{% endblock %}
