{% extends 'base.twig' %}

{% block conteudo %}

	<section class="Alugar">
		<div class="container">
			<div class="topo wow fadeIn">
				<h2 class="titulo">{{ post.title }}</h2>
				{% if post.get_field('anuncio_novo') == 'sim' %}
					<span class="novo">{% if fn('get_locale') == 'pt_BR' %}Anúncio novo{% elseif fn('get_locale') == 'es_ES' %}Nuevo anuncio{% else %}New ad{% endif %}</span>
				{% endif %}
				<span class="bairro _bluelight"><i class="icon-local"></i>{{ post.get_field('bairro') }}</span>
				<span class="cod _bluelight">{% if fn('get_locale') == 'pt_BR' %}Código{% elseif fn('get_locale') == 'es_ES' %}Código{% else %}Code{% endif %} {{ post.get_field('codigo') }}</span>
			</div>
		</div>
	</section>

	<section class="Banner _alugar">
		<div class="Row wow fadeIn" data-component="galeria">
			<a href="{{ post.get_field('fotos').0.foto }}" class="col item" style="background-image: url({{ Image(post.get_field('fotos').0.foto) }});"></a>
			<a href="{{ post.get_field('fotos').1.foto }}" class="col item" style="background-image: url({{ Image(post.get_field('fotos').1.foto) }});"></a>
			{% for key, item in post.get_field('fotos') if key > 1 %}
				<a class="item _hide" href="{{ item.foto }}" title="{{ item.legenda }}"><img src="{{ item.foto|resize(150,100) }}" alt="{{ item.legenda }}"></a>
			{% endfor %}
		</div>
	</section>

	<section class="Alugar">
		<div class="container">
			<div class="single wow fadeIn">
				<div class="Row _gutters">
					<div class="col _col-5">
						<div data-component="galeria">
							<a href="{{ post.get_field('fotos').0.foto }}" title="{{ post.get_field('fotos').0.legenda }}" class="_hide"></a>
							<a href="{{ post.get_field('fotos').1.foto }}" title="{{ post.get_field('fotos').1.legenda }}" class="_hide"></a>
							<div class="galeria-carousel" data-component="galeria-carousel" data-items="3">
							{% for key, item in post.get_field('fotos') if key != 0 and key != 1 %}
								<a class="item" href="{{ item.foto }}" title="{{ item.legenda }}"><img src="{{ item.foto|resize(150,100) }}" alt="{{ item.legenda }}"></a>
							{% endfor %}
							</div>
						</div>

						<div class="texto">{{ post.get_field('texto') }}</div>

						<div class="tags">
							{% for tag in post.tags %}
								<div class="tag">{{ tag.name }}</div>
							{% endfor %}
						</div>

						<ul class="tabs">
							<li><a href="#" data-tab="#tab1" class="_active">{% if fn('get_locale') == 'pt_BR' %}Características{% elseif fn('get_locale') == 'es_ES' %}Características{% else %}Characteristics{% endif %}</a></li>
							<li><a href="#" data-tab="#tab2">{% if fn('get_locale') == 'pt_BR' %}Enviar a um amigo{% elseif fn('get_locale') == 'es_ES' %}Enviar a un amigo{% else %}Send to a friend{% endif %}</a></li>
							<li><a href="#" onclick="window.print();">{% if fn('get_locale') == 'pt_BR' %}Imprimir{% elseif fn('get_locale') == 'es_ES' %}Imprimir{% else %}Print{% endif %}</a></li>
						</ul>

						<div class="tab infos" id="tab1">
							<p>
								{% if fn('get_locale') == 'pt_BR' %}Endereço{% elseif fn('get_locale') == 'es_ES' %}Dirección{% else %}Address{% endif %}: <br>
								{{ post.meta('endereco') }}
							</p>
							{% if post.meta('area_terreno') or post.meta('area_construcao') or post.meta('area_util') %}
								<p>
									{% if fn('get_locale') == 'pt_BR' %}Área{% elseif fn('get_locale') == 'es_ES' %}Superficie{% else %}Area{% endif %}: <br>
									{% if post.meta('area_terreno') %} {% if fn('get_locale') == 'pt_BR' %}Terreno{% elseif fn('get_locale') == 'es_ES' %}Suelo{% else %}Ground{% endif %}: {{ post.meta('area_terreno') | number_format(0, ',', '.') }}m² <br> {% endif %}
									{% if post.meta('area_construcao') %} {% if fn('get_locale') == 'pt_BR' %}Construção{% elseif fn('get_locale') == 'es_ES' %}Construcción{% else %}Construction{% endif %}: {{ post.meta('area_construcao') | number_format(0, ',', '.') }}m² <br> {% endif %}
									{% if post.meta('area_util') %} {% if fn('get_locale') == 'pt_BR' %}Útil{% elseif fn('get_locale') == 'es_ES' %}Útil{% else %}Useful{% endif %}: {{ post.meta('area_util') | number_format(0, ',', '.') }}m² {% endif %}
								</p>
							{% endif %}
							{% if post.meta('condicao_do_imovel') %}
								<p>
									{% if fn('get_locale') == 'pt_BR' %}Condição do Imóvel{% elseif fn('get_locale') == 'es_ES' %}Condición de la propiedad{% else %}Property Condition{% endif %}: <br>
									{{ post.meta('condicao_do_imovel') }}
								</p>
							{% endif %}
							{% if post.meta('seguro') %}
								<p>
									{% if fn('get_locale') == 'pt_BR' %}Seguro{% elseif fn('get_locale') == 'es_ES' %}Seguro{% else %}Safe{% endif %}: <br>
									{{ post.meta('seguro') }}
								</p>
							{% endif %}
							{% if post.meta('ponto_de_referencia') %}
								<p>
									{% if fn('get_locale') == 'pt_BR' %}Ponto de Referência{% elseif fn('get_locale') == 'es_ES' %}Punto de referencia{% else %}Reference point{% endif %}: <br>
									{{ post.meta('ponto_de_referencia') }}
								</p>
							{% endif %}
							<p>
								Tags <br>
								{% for item in post.get_field('tags') %}
									{{ item.tag }} <br>
								{% endfor %}
							</p>
						</div>

						<div class="tab" id="tab2" style="display: none;">
							<p>{% if fn('get_locale') == 'pt_BR' %}
								Gostou do imóvel? Essa é a oportunidade de enviar para um amigo. Preencha os campos abaixo e envie agora mesmo.
							{% elseif fn('get_locale') == 'es_ES' %}
								¿Te gustó la propiedad? Esta es la oportunidad de enviar a un amigo. Complete los campos a continuación y envíelo de inmediato.
							{% else %}
								Did you like the property? This is the opportunity to send to a friend. Fill in the fields below and send it right away.
							{% endif %}
							</p>
							
							<form action="#form_amigo" id="form_amigo" method="post" class="Form">
								<div class="form-item">
									<div>
										<input id="nome" name="nome" value="" required="required" placeholder="{% if fn('get_locale') == 'pt_BR' %}Meu nome{% elseif fn('get_locale') == 'es_ES' %}Mi nombre{% else %}My name{% endif %}" type="text">
									</div>
								</div>
								<div class="form-item">
									<div>
										<input id="email" name="email" value="" type="email" required="required" placeholder="meu@email">
									</div>
								</div>
								<div class="form-item">
									<div>
										<input id="nome_amigo" name="nome_amigo" value="" required="required" placeholder="{% if fn('get_locale') == 'pt_BR' %}Nome do amigo{% elseif fn('get_locale') == 'es_ES' %}Nombre del amigo{% else %}Friend's name{% endif %}" type="text">
									</div>
								</div>
								<div class="form-item">
									<div>
										<input id="email_amigo" name="email_amigo" value="" type="email" required="required" placeholder="emaildoamigo@email">
									</div>
								</div>
								<div class="form-item">
									<div>
										<textarea id="mensagem" name="mensagem" required="required" placeholder="{% if fn('get_locale') == 'pt_BR' %}Mensagem{% elseif fn('get_locale') == 'es_ES' %}Mensaje{% else %}Message{% endif %}" cols="60" rows="4"></textarea>
									</div>
								</div>
								<div class="form-item">
									<button type="submit" class="Button">{% if fn('get_locale') == 'pt_BR' %}Enviar{% elseif fn('get_locale') == 'es_ES' %}Enviar{% else %}Send{% endif %}</button>
								</div>
								<input type="hidden" name="form_action" value="form_amigo">
							</form>
						</div>
					</div>
					<div class="col _col-5 _offset-2">
						<div class="info-valor _mb80">
							<h2>{{ post.terms('finalidades').0.name }}</h2>
							<p>
								{% if post.meta('aluguel') %}    {% if fn('get_locale') == 'pt_BR' %}Aluguel{% elseif fn('get_locale') == 'es_ES' %}Alquiler{% else %}Rent{% endif %}: R$    {{ post.meta('aluguel') | number_format(2, ',', '.') }} <br> {% endif %}
								{% if post.meta('iptu') %}       Iptu: R$       {{ post.meta('iptu') | number_format(2, ',', '.') }} <br> {% endif %}
								{% if post.meta('condominio') %} {% if fn('get_locale') == 'pt_BR' %}Condomínio{% elseif fn('get_locale') == 'es_ES' %}Condomínio{% else %}Condominium{% endif %}: R$ {{ post.meta('condominio') | number_format(2, ',', '.') }} <br> {% endif %}
								{% if post.meta('abono') %}      {% if fn('get_locale') == 'pt_BR' %}Abono{% elseif fn('get_locale') == 'es_ES' %}Prestación{% else %}Allowance{% endif %}: R$      {{ post.meta('abono') | number_format(2, ',', '.') }} <br> {% endif %}
								{% if post.meta('prazo') %}      {% if fn('get_locale') == 'pt_BR' %}Prazo{% elseif fn('get_locale') == 'es_ES' %}Término{% else %}Term{% endif %}:         {{ post.meta('prazo') }} <br> {% endif %}
								{% if post.meta('reajuste') %}   {% if fn('get_locale') == 'pt_BR' %}Reajuste{% elseif fn('get_locale') == 'es_ES' %}Reajuste{% else %}Readjustment{% endif %}:      {{ post.meta('reajuste') }} <br> {% endif %}
								{% if post.meta('indice') %}     {% if fn('get_locale') == 'pt_BR' %}Índice{% elseif fn('get_locale') == 'es_ES' %}Índice{% else %}Index{% endif %}:        {{ post.meta('indice') }} {% endif %}
							</p>

							<p class="_blue">
								Total: R$ {{ 
									(post.meta('aluguel') +
									post.meta('condominio') +
									post.meta('iptu') -
									post.meta('abono')) | number_format(2, ',', '.')
								}}
							</p>
						</div>

						<div class="formulario">
							<h6 class="titulo _upper">{% if fn('get_locale') == 'pt_BR' %}Solicitar +informações{% elseif fn('get_locale') == 'es_ES' %}Solicitar +información{% else %}Request +information{% endif %}</h6>
							<p>{% if fn('get_locale') == 'pt_BR' %}
								Entre em contato agora para mais informações
							{% elseif fn('get_locale') == 'es_ES' %}
								Póngase en contacto ahora para obtener más información
							{% else %}
								Get in touch now for more information
							{% endif %}</p>
							{{ form_info_before }}
								<input name="assunto" value="Mais informações de {{ post.title }}. Link: {{ post.link }}" type="hidden">
								<div class="form-item">
									<div><input id="nome" name="nome" value="" required="required" placeholder="{% if fn('get_locale') == 'pt_BR' %}Meu nome{% elseif fn('get_locale') == 'es_ES' %}Mi nombre{% else %}My name{% endif %}" type="text"></div>
								</div>
								<div class="form-item">
									<div><input id="email" name="email" value="" type="email" required="required" placeholder="melhor@email"></div>
								</div>
								<div class="form-item">
									<div><input id="telefone" name="telefone" value="" required="required" placeholder="(00) 00000-0000" class="telefone" type="text" maxlength="15"></div>
								</div>
								<div class="form-item">
									<div><textarea id="mensagem" name="mensagem" required="required" placeholder="{% if fn('get_locale') == 'pt_BR' %}Mensagem{% elseif fn('get_locale') == 'es_ES' %}Mensaje{% else %}Message{% endif %}" cols="60" rows="4"></textarea></div>
								</div>
								<div class="form-item _tar">
									<button type="submit" class="Button">{% if fn('get_locale') == 'pt_BR' %}Enviar{% elseif fn('get_locale') == 'es_ES' %}Enviar{% else %}Send{% endif %}</button>
								</div>
								<input type="hidden" name="form_action" value="form_info">
							{{ form_info_after }}
						</div>
					</div>
				</div>
			</div>

			<form action="{{ site.url }}/alugar" class="Form _card _w100 wow fadeIn" id="alugar">
				<div class="form-item">
					<label>{% if fn('get_locale') == 'pt_BR' %}CIDADE{% elseif fn('get_locale') == 'es_ES' %}CIUDAD{% else %}CITY{% endif %}</label>
					<div>
						<select name="cidade">
							<option value="">{% if fn('get_locale') == 'pt_BR' %}Selecione{% elseif fn('get_locale') == 'es_ES' %}Seleccione{% else %}Select{% endif %}...</option>
							{% for cidade in cidades %}
								<option value="{{ cidade.id }}" {{ get.cidade == cidade.id ? 'selected' : '' }}>{{ cidade.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-item">
					<label>{% if fn('get_locale') == 'pt_BR' %}TIPO DE IMÓVEL{% elseif fn('get_locale') == 'es_ES' %}TIPO DE PROPIEDAD{% else %}PROPERTY TYPE{% endif %}</label>
					<div>
						<select name="tipo">
							<option value="">{% if fn('get_locale') == 'pt_BR' %}Selecione{% elseif fn('get_locale') == 'es_ES' %}Seleccione{% else %}Select{% endif %}...</option>
							{% for tipo in tipos %}
								<option value="{{ tipo.id }}" {{ get.tipo == tipo.id ? 'selected' : '' }}>{{ tipo.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-item _w-custom _i1">
					<label>{% if fn('get_locale') == 'pt_BR' %}DORMITÓRIOS{% elseif fn('get_locale') == 'es_ES' %}HABITACIONES{% else %}BEDROOMS{% endif %}</label>
					<div><input type="number" step="1" min="0" name="dormitorios" value="{{ get.dormitorios }}" placeholder="0"></div>
				</div>
				<div class="form-item _w-custom">
					<label>{% if fn('get_locale') == 'pt_BR' %}ALUGUEL ATÉ{% elseif fn('get_locale') == 'es_ES' %}ALQUILER HASTA{% else %}RENT UP TO{% endif %}</label>
					<div><input type="text" name="aluguel" value="{{ get.aluguel }}" placeholder="R$"></div>
				</div>
				<div class="form-item">
					<label>{% if fn('get_locale') == 'pt_BR' %}FINALIDADE{% elseif fn('get_locale') == 'es_ES' %}META{% else %}GOAL{% endif %}</label>
					<div>
						<select name="finalidade">
							<option value="">{% if fn('get_locale') == 'pt_BR' %}Selecione{% elseif fn('get_locale') == 'es_ES' %}Seleccione{% else %}Select{% endif %}...</option>
							{% for finalidade in finalidades %}
								<option value="{{ finalidade.id }}" {{ get.finalidade == finalidade.id ? 'selected' : '' }}>{{ finalidade.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-item">
					<label>{% if fn('get_locale') == 'pt_BR' %}POR CÓDIGO{% elseif fn('get_locale') == 'es_ES' %}POR CÓDIGO{% else %}BY CODE{% endif %}</label>
					<div><input type="text" name="codigo" value="{{ get.codigo }}" placeholder="Ex. 10000659"></div>
				</div>
				<div class="form-item _tac">
					<button class="Button">{% if fn('get_locale') == 'pt_BR' %}Buscar{% elseif fn('get_locale') == 'es_ES' %}Buscar{% else %}Search{% endif %}</button>
				</div>
			</form>
		</div>
	</section>

{% endblock %}
